<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">
        write down Your craziest, wildest ideas and save them for later!
        You!
        Will!
        Never!
        Forget!
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add n'Idea!</a>
</div>