i {
    text-align: center;
    margin:15px;
}

.logo {
    width:100px;
    margin: auto

}

.btn:hover {
    box-shadow: 0 0 1px 5px rgba(128, 128, 128, 0.555);
    color: rgba(255, 217, 0, 0.911)
}